.home {
    display: flex;
    flex-direction: column;
    background-color: rgb(50, 50, 50);
    margin: 0 auto;

    .container {
        margin: 0 auto;

        .photos {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;
        }
    }
}