.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    z-index: 100;
    transition: all 0.3s ease-in-out;

    .modal {
        top: 0;
        left: 0;
        width: 100%;
        backdrop-filter: blur(20px);
        transition: width 1s, height 350ms ease;

        .container {
            width: 100vw;
            height: 100vh;
            padding-bottom: 50px;

            .closeModal {
                position: absolute;
                top: 10px;
                right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                // background: #86BBD8;
                // border-radius: 50px;
                font-size: 25px;
                color: #fff;
                padding-bottom: 3px;
                cursor: pointer;
                z-index: 10;
                transition: transform .3s ease-in-out;

                &:hover {
                    // background-color: #F26419;
                    transform: scale(1.1);
                }

                &:active {
                    transform: scale(.95);
                }
            }

            .modal-photo {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 50px;
                border: none;
                overflow: visible;

                &:hover {
                    box-shadow: none;
                }

                .modal-img {
                    width: auto;
                    height: auto;
                    max-height: 850px;
                    filter: none;
                    border: 1px solid #fff;
                    padding: 15px;
                    margin-bottom: -7%;

                    &:hover {
                        transform: none;
                        filter: none;
                    }
                }

                .hr-sloping-lines {
                    width: 30%;
                    padding: 0;
                    height: 0;
                    border: none;
                    border-width: 0 0 2px;
                    border-style: solid;
                    border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="8" height="4"><circle fill="white" cx="1" cy="0.5" r="0.5"></circle></svg>') 0 0 100% repeat;
                    background-position: 50%;
                }
                
                p {
                    font-size: 2vw;
                    color: #fff;
                    padding: 5px;
                }
            }
        }
    }
}